/* Custom Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #616161 #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #00000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #616161;
  border-radius: 10px;
  border: 2px solid #000000;
}

/* Default Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}


body {
  font-weight: 400;
  position: relative;
  background-color: #050505 !important;
  color: #fff !important;
  font-family: "Roboto", sans-serif !important;
}

h1,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
  text-align: justify;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}
/************ Navbar Css ************/

@media (min-width: 890px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 905px;
  }

  nav.navbar .navbar-nav .nav-link.navbar-link {
    padding: 0 15px;
  }
}

@media (max-width: 890px) {
  nav.navbar .navbar-nav .nav-link.navbar-link {
    padding: 0 5px;
  }
}

.navbar h1 {
  color: white;
  font-weight: 300;
  letter-spacing: 0.1rem;
  font-size: 2rem;
}

.navbar h1 b {
  font-weight: 600;
}

nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #00000077;
  backdrop-filter: blur(5px);
}
nav.navbar a.navbar-brand {
  width: 20%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}
span.navbar-text {
  display: flex;
  align-items: center;
}
.social-icon {
  display: inline-block;
  margin-left: 1rem;
}
.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.5s;
}

.social-icon a:hover {
  background: #e3f2ff;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  cursor: pointer;
}
.social-icon a img {
  width: 50%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  font-size: 16px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}

.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover {
  background: #e3f2ff;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  cursor: pointer;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

.banner {
  margin-top: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/src/assets/img/bannerbg2.png");
}
.banner a {
  text-decoration: none;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  font-size: 15px;
  margin-bottom: 0.5rem;
  display: inline-block;
  text-shadow: 0 0 2px #fff, 0 0 5px #4d68ff, 0 0 8px #4d77ff, 0 0 5px #4d50ff, 0 0 5px #4dc7ff, 0 0 5px #4dcdff, 0 0 7px #4db8ff;
}
.banner h1 {
  font-weight: 800;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin-top: 2rem;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}

.banner-text {
  padding: 1rem;
  /* border-left: solid 5px;
  border-image: linear-gradient(45deg, purple, blue) 1; */
  display: flex;
  flex-flow: column nowrap;
    align-items: center;
}

.txt-rotate > .wrap {
  border-right: 0.03em solid rgb(156, 156, 156);
}

.custom-shape-divider-bottom-1666304608 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  margin-bottom: -1px;
}

.custom-shape-divider-bottom-1666304608 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 107px;
}

.custom-shape-divider-bottom-1666304608 .shape-fill {
  fill: #fafafa;
}
/************ About Css ************/

.about {
  width: 100%;
  height: 90rem;
  display: flex;
  justify-content: center;
  padding: 5rem 0;
  background: rgb(100, 94, 214);
  background: linear-gradient(
    0deg,
    rgba(100, 94, 214, 1) 0%,
    rgba(145, 29, 143, 1) 30%,
    rgba(5, 0, 14, 1) 79%
  );
}

.about h2 {
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 2rem;
  text-align: center;
}

.about img {
  width: 25rem;
  align-self: center;
  border: solid 2px white;
}

/************ Skills Css ************/
.skill {
  padding: 5rem 0 12rem 0;
  position: relative;
  background-color: #fafafa;
}
.skill-bx {
  background: #151515;
  border-radius: 65px;
  text-align: center;
  padding: 2.5rem 3rem;
  -webkit-box-shadow: 0px 0px 59px -16px rgba(54, 54, 54, 1);
  -moz-box-shadow: 0px 0px 59px -16px rgba(54, 54, 54, 1);
  box-shadow: 0px 0px 59px -16px rgba(54, 54, 54, 1);
}
.skill h2 {
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 2rem;
}

.skill h5 {
  margin-top: 10px;
}

.skill-slider {
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.skill-slider .item {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
}

.skill-slider .item img {
  width: 70%;
  margin: 0 auto;
}
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

.custom-shape-divider-bottom-1666361393 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  margin-bottom: -1px;
}

.custom-shape-divider-bottom-1666361393 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 78px;
}

.custom-shape-divider-bottom-1666361393 .shape-fill {
  fill: #050505;
}

/* Projects */

.project {
  padding: 10rem 0 15rem 0;
  position: relative;
  color: #ffffff;
}

.project h4 {
  color: white;
}

.project a:hover {
  color: white;
}

.project h2 {
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  padding-bottom: 3rem;
}
.project p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: #ffffff1f;
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
  height: 100%;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  top: 0;
  left: 0;
  z-index: -10;
  transition: 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link.active {
  color: white;
}

.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}

.nav-link#projects-tabs-tab-first {
  border-right: 1px solid #818181;
  border-radius: 55px 0px 0px 55px;
  z-index: 10;
}
.nav-link#projects-tabs-tab-third {
  border-left: 1px solid #818181;
  border-radius: 0 55px 55px 0;
}
.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  filter: grayscale(1);
  transition: all 0.3s;
}

.proj-imgbx:hover {
  filter: none;
}

.proj-imgbx img {
  transition: all 0.3s;
  filter: brightness(0.7);
}
/* .proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, rgba(170, 54, 124, .7) -5.91%, rgba(74, 47, 189,.7) 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
} */
/* .proj-imgbx:hover::before {
  height: 100%;
} */

.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

.custom-shape-divider-bottom-1666449565 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  margin-bottom: -1px;
}

.custom-shape-divider-bottom-1666449565 svg {
  position: relative;
  display: block;
  width: calc(134% + 1.3px);
  height: 140px;
}

.custom-shape-divider-bottom-1666449565 .shape-fill {
  fill: #fafafa;
}

/************ Contact Css ************/
.contact {
  /* background-image: url(./assets/img/bg-2.png); */
  background-color: #fafafa;
  background-size: cover;
  background-position: top center;
  /* background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%); */
  padding: 5rem 0 10rem 0;
  color: #000;
}

.contImg {
  transform: scale(0.8) translateX(5rem);
}

.contact h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}
.contact form input,
.contact form textarea {
  width: 100%;
  border: 1px solid #ffffff80;
  border-radius: 20px;
  margin: 0 0 0.5rem 0;
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 0px 0px 59px -16px rgba(54, 54, 54, 0.2);
  -moz-box-shadow: 0px 0px 59px -16px rgba(54, 54, 54, 0.2);
  box-shadow: 0px 0px 59px -16px rgba(54, 54, 54, 0.2);
}
.contact form input:focus,
.contact form textarea:focus {
  color: #121212;
}
.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgb(73, 73, 73);
}
.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #929292;
  border: solid 1px rgb(212, 212, 212);
  padding: 14px 48px;
  font-size: 18px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  border-color: white;
  color: #fff;
}

.contact form button::before {
  content: "";
  background: #000;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}

#status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 5px;
  color: 000;
}

#status p {
  font-size: 1.2rem;
  transition: all 0.5s;
}

/* Footer */
.footer {
  background-image: url("./assets/img/footer-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 10%;
}
.newsletter-bx {
  background: #ffffff;
  border-radius: 55px;
  color: #121212;
  padding: 3rem 1rem;
  margin-bottom: 80px;
  margin-top: -7.5rem;
  -webkit-box-shadow: 0px 0px 59px -16px rgba(54, 54, 54, 0.2);
  -moz-box-shadow: 0px 0px 59px -16px rgba(54, 54, 54, 0.2);
  box-shadow: 0px 0px 59px -16px rgba(54, 54, 54, 0.2);
}
.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
}
.new-email-bx {
  background: #fff;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}

.new-email-bx a {
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  padding: 1.5rem 3rem;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 18px;
  text-decoration: none;
}

.new-email-bx a:hover {
  color: white;
}

.footer img {
  width: 17rem;
}

/* MODAL */

#modal {
  color: black;
  font-size: 2rem;
}

.modal-content {
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important;
  background: none !important;
}
.carousel-inner {
  border-radius: 20px;
}
.carousel-item {
  border-radius: 20px;
  overflow: hidden;
}

.test {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-bottom: -2px;
}

.carousel-item-img {
  filter: brightness(0.9);
}

/* INTRO */

.intro {
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  transition: 1s;
}

.logo-header {
  position: absolute;
  padding: 0.5rem 1rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
}

.logo-span {
  font-weight: 200;
}

.logo-span-w {
  font-weight: 800;
}

@keyframes bg {
  0% {
    background-size: 0 2px, 2px 0, 0 2px, 2px 0;
  }
  25% {
    background-size: 100% 2px, 2px 0, 0 2px, 2px 0;
  }
  50% {
    background-size: 100% 2px, 2px 100%, 0 2px, 2px 0;
  }
  75% {
    background-size: 100% 2px, 2px 100%, 100% 2px, 2px 0;
  }
  100% {
    background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
  }
}

.logo-header {
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #c9c9c9 100%, #c9c9c9 100%),
    linear-gradient(to bottom, #c9c9c9 100%, #c9c9c9 100%),
    linear-gradient(to right, #c9c9c9 100%, #c9c9c9 100%),
    linear-gradient(to bottom, #c9c9c9 100%, #c9c9c9 100%);
  background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  animation: bg 2s cubic-bezier(0.19, 1, 0.22, 1);
}

/* 3D */

.spline {
  transform: scale(0.7);
  /* // XX-Large devices (larger desktops, 1400px and up) */
  /*   @media (min-width: 1400px) { }
 */
}
@media (min-width: 300px) {
  .contImg {
    display: none !important;
    transform: scale(0);
  }
}

@media (min-width: 576px) {
  .contImg {
    transform: scale(0.8);
    display: block !important;
  }
  /* .header-img{
    display: none;
  } */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .contImg {
    transform: scale(0.92) translateX(-3rem);
    display: block !important;
  }
  /* .header-img{
    display: none;
  } */
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .contImg {
    transform: scale(1) translateX(-5rem);
    display: block !important;
  }
  /* .header-img{
    display: none;
  } */
}
